.wrapper {
  display: flex;
  align-items: center;
  padding: 15px 24px;
  background-color: #00ffc412;
}

.mark {
  width: 24px;
  height: 24px;
}

.text {
  margin-left: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
}

.timer {
  margin-left: auto;
}
